* {
  font-family: 'Raleway', sans-serif;
  font-size: xx-large;
}

body {
  background-color: #f2e9e4;
}

h1 {
  color: #22223b;
}

p {
  color: #4a4e69;
}

.TextDiv {
  margin-top: 5%;
  margin-left: 3%;
  margin-right: 3%;
}

/* colors: f2e9e4, c9ada7, 9a8c98, 4a4e69, 22223b */